<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.virtualartsa.onibusemponto">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuscaLinhaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetalhesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PegaLinhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeuOnibusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PegaLinha2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProximoOnibusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RuasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PontoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".termos" />
        <activity
            android:name=".Tutorial2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>